<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node.js Crud operation</title>
</head>
<body>
    <h1>Crud operation</h1>
    
    <form action="/" method="post">
        <p><%= results.phone %>bbbb</p>
        <input type="text" name="name" value="<%= results.name %>" placeholder="Enter name">
        <input type="text" name="email" value="<%= results.email %>" placeholder="Enter email ">
        <input type="text" name="phone" value="<%= results.phone %>" placeholder="Enter phone">
        <input type="text" name="password" value="<%= results.password %>" placeholder="Enter password">
        <input type="text" name="address" value="<%= results.address %>" placeholder="Enter address">
        <button type="submit">Register</button>
    </form>
    
</body>
</html>