<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
</head>
<body>

    <table border="2">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>ADDRESS</th>
            <th>DATE</th>
            <th>HOUR</th>

        </tr>
        <% tasks.forEach((task1)=>{ %>
            <tr>
                <td><%= task1.id %></td>
                <td><%= task1.name %></td>
                <td><%= task1.email %></td>
                <td><%= task1.phone %></td>
                <td><%= task1.address %></td>
                <td><%= task1.date %></td>
                <td><%= task1.hour %></td>
            </tr>
        <% }) %>
    </table>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Enter name">
        <input type="text" name="email" placeholder="Enter email ">
        <input type="text" name="phone" placeholder="Enter phone">
        <input type="text" name="password" placeholder="Enter password">
        <input type="text" name="address" placeholder="Enter address">
        <button type="submit">Register</button>
    </form>
</body>
</html>