<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
</head>
<body>
    <h1>Daily to do list!</h1>
    <form action="/" method="POST">
    <label>Search by Name, Phone number or Email:</label><input type="search" name="search" placeholder="type what to search here!">
    <button type="submit">Search</button>
    </form>
    <br/>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>ADDRESS</th>
            <th>DATE</th>
            <th>HOUR</th>
            <th>Action</th>
        </tr>
        <% results.forEach((result)=>{ %>
            <tr>
                <td><%= result.id %></td>
                <td><%= result.name %></td>
                <td><%= result.email %></td>
                <td><%= result.phone %></td>
                <td><%= result.address %></td>
                <td><%= result.date %></td>
                <td><%= result.hour %></td>
                <td>
                    <a type="button" href="">View</a>
                    <a type="button" href="/edituser/<%= result.id %>" class="btn">Edit</a>
                    <a type="button" href="">Delete</a>
                </td>
            </tr>
        <% }) %>
    </table>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Enter name">
        <input type="text" name="email" placeholder="Enter email ">
        <input type="text" name="phone" placeholder="Enter phone">
        <input type="text" name="password" placeholder="Enter password">
        <input type="text" name="address" placeholder="Enter address">
        <button type="submit">Register</button>
    </form>
</body>
</html>